<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <!--Sidebar content-->

            Search: <input ng-model="query">
            Sort by:
            <select ng-model="orderProp">
                <option value="name">Alphabetical ^</option>
                <option value="-name">Alphabetical v</option>
                <option value="id">Id ^</option>
                <option value="-id">Id v</option>
                <option value="publish">Publish ^</option>
                <option value="-publish">Publish v</option>
            </select>

        </div>
        <div class="col-md-10">
            <!--Body content-->

            <ul class="films">
                <li ng-repeat="film in films | filter:query | orderBy:orderProp" class="thumbnail film-listing">
                    <div>
                        <a href="#/film/{{film.id}}" class="thumb"><img ng-src="http://img.youtube.com/vi/{{film.yt_id}}/1.jpg"></a>
                    </div>
                    <div class="description">
                        <h2><a href="#/film/{{film.id}}">{{film.name}}</a></h2>
                        <span>Data publikacji: {{film.publish}}</span>
                    </div>

                    <!--
                    http://img.youtube.com/vi/ID/0.jpg // 480x360
                    http://img.youtube.com/vi/ID/1.jpg // kolejna klatka - 120x90
                    -->
                </li>
            </ul>

        </div>
    </div>
</div>
